.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    font-weight: 700;
  }
}

.main {
  margin-top: 15px;
}
